[Unit]
Description=Grott Growatt monitor
After=syslog.target
After=network.target
#Wants=systemd-networkd-wait-online.service
#Wants=mosquitto.service

[Service]
SyslogIdentifier=grott
Type=simple
User=pi

WorkingDirectory=/home/pi/grott/
ExecStart=-/usr/bin/python3 -u /home/pi/grott/grott.py -v
#StandardInput=socket
StandardOutput=journal

Restart=always
RestartSec=1
StartLimitInterval=10
StartLimitBurst=5

# Give the script some time to startup
TimeoutSec=120

[Install]
WantedBy=multi-user.target
